Repository millylee/auo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "vitest related --run"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: multi pnpm version
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

fix: remove postinstall script
  package.json
  scripts/postinstall.ts
  src/cli/commands.ts
  src/cli/index.ts
Due: eslint --fix, prettier --write, vitest related --run

fix: remove postinstall build
  vite.config.ts
Due: eslint --fix, prettier --write, vitest related --run

chore: update eslint config
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/cli/commands.ts
  src/cli/index.ts
  src/config/index.ts
  src/config/manager.ts
  src/config/types.ts
  src/index.ts
  src/types/index.ts
  src/utils/claude.ts
  src/utils/index.ts
  src/utils/system.ts
  tests/cli/commands.test.ts
  tests/config/manager.test.ts
  tests/utils/claude.test.ts
  tests/utils/system.test.ts
Due: eslint --fix, prettier --write, vitest related --run

chore: add license file
  LICENSE.txt
Due: none

docs: fix badge info
  README.md
Due: prettier --write

feat: modify cli commands
  README.md
  src/cli/commands.ts
  src/config/manager.ts
  src/types/index.ts
  tests/cli/commands.test.ts
  tests/config/manager.test.ts
Due: eslint --fix, prettier --write, vitest related --run

1.1.0
  package.json
Due: prettier --write

feat: implement configuration migration to v2 format and update CLI commands
  .gitignore
  src/cli/commands.ts
  src/config/index.ts
  src/config/manager.ts
  src/config/migration.ts
  src/config/types.ts
  src/types/index.ts
  tests/cli/commands.test.ts
  tests/config/migration.test.ts
Due: eslint --fix, prettier --write, vitest related --run

docs: 更新 README，增加环境变量管理和配置示例
  README.md
Due: prettier --write

2.0.0
  package.json
Due: prettier --write

feat: 添加配置编辑功能
  src/cli/commands.ts
  src/config/manager.ts
  src/types/index.ts
  tests/cli/commands.test.ts
  tests/config/manager.test.ts
Due: eslint --fix, prettier --write, vitest related --run

2.1.0
  package.json
Due: prettier --write

docs: 更新使用场景
  README.md
Due: prettier --write

fix: 修复配置更新覆盖 bug，模型默认 undefined，不是所有平台都支持 default
  src/cli/commands.ts
  src/config/manager.ts
  src/config/migration.ts
  tests/config/migration.test.ts
Due: eslint --fix, prettier --write, vitest related --run

2.1.1
  package.json
Due: prettier --write

docs: 添加编辑配置说明
  README.md
Due: prettier --write

ci: 更换 release action
  .github/workflows/release.yml
Due: prettier --write

docs: 文档添加截图
  README.md
Due: prettier --write
